{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <h5 class="card-title">Register</h5>
            <div class="container">
                <form method="POST" action="{{ url_for('auth.register') }}">
                    <dl>
                        {{ wtf.quick_form(form) }}
                        <input class="btn btn-primary" type="submit" value="Register">
                    </dl>
                </form>
            </div>
    </div>
</div>
{% endblock %}
